<h2>Author list</h2>
<% if @authors.present? %>
<div class="list-group">
  <% @authors.each do |author|  %>
    <%= link_to author.first_name + " " + author.last_name , author_path(author), class:'list-group-item' %>
  <% end %>
</div>
<% end %>